___

Mr. Yogesh P Murumkar (Mob. 9657080906)

https://www.youtube.com/c/yogeshmurumkar
___
# Python Course Exercises 1

This is an optional exercise to test your understanding of Python Basics. If you find this extremely challenging, then you probably are not ready for the rest of this course yet and don't have enough programming experience to continue. I would suggest you take another course more geared towards complete beginners.

Python Course Exercises 1

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
result = 7 ** 4
result

2401

** Split this string:**




    s = "Hi there Yogesh!"
    
**into a list. **

In [4]:
s = "Hi there Yogesh!"
s.split()

['Hi', 'there', 'Yogesh!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [6]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet, diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# The main difference between a tuple and a list is that tuples are immutable, while lists are mutable.
# This means that once a tuple is created, its elements cannot be changed, whereas elements in a list can be modified, added, or removed.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
email = "user@domain.com"
def fun1(email):
    return email.split('@')[-1]

In [14]:
fun1(email)

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [15]:
def findDog(inp):
    for ele in inp.split():
        if ele == 'dog':
            return True
    return False

In [16]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [18]:
def countDog(inp):
    count = 0
    for ele in inp.split():
      if ele == 'dog':
        count+=1
    return count

In [19]:
countDog('This dog runs faster than the other dog dude!')

2

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [ ]:
seq = ['soup','dog','salad','cat','great']

In [20]:
seq = ['soup','dog','salad','cat','great']
list(filter(lambda word: word.startswith('s'), seq))

['soup', 'salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket".
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all
  cases. **

In [21]:
def caught_speeding(speed, is_birthday):
    if is_birthday == False:
      if speed >= 81:
        return "Big Ticket"
      if 61 <= speed <= 80 :
        return "Small Ticket"
      if speed <= 30 :
        return "No ticket"
    else:
        return "Small Ticket"

In [22]:
caught_speeding(81,True)

'Small Ticket'

In [23]:
caught_speeding(81,False)

'Big Ticket'

**Q.1** -
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [24]:
inp = input("Enter a input value")
result = ""

if inp[0] == '-':
  result += inp[0]

for ele in inp[1:]:
  if '0' <= ele <= '9':
    result += ele

print(result)

Enter a input value-123abcd
-123

**Q2**-
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [37]:
inp = input("Enter the input: ")

def is_palindrome(s):
    if s == s[::-1]:
        print("It is a palindrome!")
    else:
        num_sum = sum(map(int, s)) if s.isdigit() else "N/A"
        print("Sum is {} and reverse is {}".format(num_sum, s[::-1]))

is_palindrome(inp)

Enter the input: 232
It is a palindrome!

**Q.3**-Write a python function to find and display the five
digit number in which the first digit is two more than
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [40]:
def find_five_digit():
  for a in range(1, 10):
    for b in range(0, 10):
      for c in range(0, 10):
        for d in range(0, 10):
          for e in range(0, 10):
            if a == b + 2 and b == c + 2 and d == c - 2 and e == d + 2 and c + d + e == a and a + b + c + d + e == 19:
              print(str(a) + str(b) + str(c) + str(d) + str(e))
              return

find_five_digit()

75313

# Great job!